/* Importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root{

    /* Fourth Combo */
    --pine: #1d3c45;
    --lightBlue: #aed6dc;
    --lightpink: #ff9a8d;
    --orange: #d2601a;
    --peach: #fff1e1;

    /* Form Combo */
    --navy: #26495c;
    --ochre: #c4a35a;
    --sienna: #c66b3d;
    --grey: #e5e5dc;
    --lightGrey: #E6D5B8;
    --greenShade: #006400;
    --black: #000;

    /* Tables style */
    --greenish: #009879;
    --lightgray: #ddd;
    --minilightgray: #f3f3f3;
    --cherryRed: #990f02;
    --scarletRed: #900D09;
    --currantRed: #680C07;
}

body{
    background-color: var(--peach);
}

/* Flex territory */
.navigation ul, .navigation ul li, .navigation ul li a, .topbar, .toogle, .search label, .card, .crud-buttons, .slots-content, .content-table, .content-table thead, .content-table tbody, .content-table tr, .user-details, .category, .category label, .detail-table tr{
    display: flex;
}

.navigation ul{
    flex-direction: column;
    justify-content: space-evenly;
}

.navigation li a, .navigation ul, .toogle, .search label{
    align-items: center;
}

.topbar, .card, .crud-buttons{
    justify-content: space-between;
}

/* Styling the navigation */
.container{
    background-color: var(--orange);
    position: relative;
}

.container, .navigation li{
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    left: 0;
    height: 100%;
    border-left: 10px solid var(--peach);
    transition: 0.5s all ease;
    overflow: hidden;
}

.navigation ul{
    list-style-type: none;
    height: 100%;
}

.navigation, .navigation ul{
    background-color: var(--lightBlue);
}

a{
    text-decoration: none;
}

.logo{
    display: block;
    padding: 5px 0;
    pointer-events: none;
}

.toogle, .slots-content{
    justify-content: center;
}

.navigation li a{
    padding: 20px 0;
    color: #000;
    text-transform: uppercase;
    width: 100%;
}

.navigation li:hover a{
    color: var(--white);
}

.navigation li:hover{
    background-color: var(--peach);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.icon{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
}

.title{
    font-size: 12px;
}

/* Styling the main content */
main{
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    min-height: 100vh;
}

.topbar{
    padding:10px 30px;
}

.toogle{
    width: 30px;
    height: 30px; 
    font-size: 2.5rem;
}

.navigation li:hover, .toogle, .user:hover, .card, .crud-buttons button, .crud-buttons a{
    cursor: pointer;
}

.search{
    position: relative;
    width: 400px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 40px;
    padding: 5px 50px;
    outline: none;
    border: 1px solid var(--white);  
}

.search label ion-icon{
    position: absolute;
    left: 20px;
    font-size: 1rem;
}

.menu-content{
    display: none;
    transition: 0.5s all ease;
}

/* Js Toggle */
.navigation.active{
    width: 80px;
}

main.active{
    width: calc(100% - 80px);
    left: 80px;
    transition: 0.5s all ease;
}

/* Styling the tables */

.content-table, .detail-table{
    border-collapse: collapse;
    font-size: 0.9em;
    font-weight: 300;
    padding: 3rem 1rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
    overflow: hidden;
}

.content-table, .content-table thead, .content-table tbody, .detail-table{
    flex-direction: column;
}

.content-table tr, .detail-table tr{
    justify-content: space-between;
}

.content-table tr td, .content-table tr th, .detail-table{
    width: 100%;
}

.content-table thead tr, .detail-table th, .detail-table td{
    background-color: var(--lightBlue);
    color: var(--black);
    text-align: left;
    /* font-weight: bold; */
}

.content-table th, .content-table td, .detail-table tr, .detail-table th, .detail-table td{
    padding: 0.9375rem 0.75rem;
}

.content-table tbody tr{
    border-bottom: 0.0625rem solid var(--lightgray);
}

.content-table tbody tr:nth-of-type(even){
    background-color: var(--minilightgray);
}

.content-table span ion-icon{
    font-size: 1rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-link-padding{
    padding: 0.3125rem;
}

/* Styling the CRUD part */

.listes{
    position: relative;
    width: 100%;
    padding: 30px;
}

.cardHeader > h2, .nom h3, .prenom h4, .lieu_naissance h5, .crud-buttons button, .crud-buttons a, .content-table thead tr, .content-table th, .content-table td, .detail-table th{
    font-weight: 300;
}

.crud-buttons button, .crud-buttons a{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 0.8rem;
    border-radius: 15px;
}

/* Styling the main home content */
.main-title, .main-title + h3{
    text-align: center;
}

.main-title, .main-title + h3, .title-form, .details, .button input{
    font-weight: 200;
}

.main-title{
    padding-top: 60px;
}

.main-title + h3{
    padding-top: 30px;
}

.banner{
    position: relative;
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

.images span img{
    width: 192px;
    height: 192px;
}

.banner{
    padding: 220px 10px;
}

.slots-content h5{
    font-size: 14px;
    padding-top: 45px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Styling the form for adding informations */

body{
    /* background-color: var(--grey); */
    height: 100vh;
}

/* Styling the reusable parts */
.container-form{
    max-width: 800px;
    width: 100%;
    background-color: var(--peach);
    padding: 30px;
    margin: 10px auto 0;
}

/* Using the flex */
.category label{
    align-items: center;
}

.user-details{
    flex-wrap: wrap;
    padding: 30px 0;
}

.user-details, .category{
    justify-content: space-between;
}

/* Styling the common fields */
.container-form, .input-box input, .button input{
    border-radius: 5px;
}

/* Styling the title */
.title-form, .list-form{
    position: relative;
}

.title-form::before, .list-form::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 35px;
    background-color: var(--lightGrey);
}

/* Styling the input fields and their containers */
.input-box{
    width: calc(100% / 2 - 25px);
    margin-bottom: 30px;
}

.details{
    display: block;
    margin-bottom: 5px;
}

.input-box input{
    width: 100%;
    height: 45px;
    padding-left: 15px;
    outline: none;
    border: 1px solid var(--lightGrey);
    border-bottom-width: 2px;
    font-size: 14px;
}

.input-box input, .button input{
    transition: all 0.3 ease;
}

.input-box input:hover, .input-box input:focus, .input-box:valid{
    border-color: #1B1A17;
}

/* Styling the registration button */

.button{
    background-color: pink;
    height: 45px;
    margin: 30px 0;
}

.button input:hover{
    cursor: pointer;
}

.button input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    background: linear-gradient(132deg, rgba(230,213,184,1) 85%, rgba(255,154,141,1) 100%);
    border: none;
}

/* Styling the form registration and account creation */
.options a {
    color: var(--navy);
}

.options a:hover {
    color: var(--sienna);
    transition: 0.20s ease-in;
    text-decoration: none;
}