/* Importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root{

    /* Fourth Combo */
    --pine: #1d3c45;
    --lightBlue: #aed6dc;
    --lightpink: #ff9a8d;
    --orange: #d2601a;
    --peach: #fff1e1;

    /* Form Combo */
    --navy: #26495c;
    --ochre: #c4a35a;
    --sienna: #c66b3d;
    --grey: #e5e5dc;
    --lightGrey: #E6D5B8;
    --greenShade: #006400;
    --black: #000;

    /* Tables style */
    --greenish: #009879;
    --lightgray: #ddd;
    --minilightgray: #f3f3f3;
    --cherryRed: #990f02;
    --scarletRed: #900D09;
    --currantRed: #680C07;
}

body{
    background-color: var(--peach);
}

/* Flex territory */
.navigation ul, .navigation ul li, .navigation ul li a, .topbar, .toogle, .search label, .card, .crud-buttons, .slots-content, .content-table, .content-table thead, .content-table tbody, .content-table tr, .user-details, .category, .category label, .detail-table tr{
    display: flex;
}